.input__group {
    position: relative;
}

.label {
    position: absolute;
    top: -.5rem;
    left: 2rem;
    background-color: white;
    padding-inline: .25rem;
}

.input {
    outline: none;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
    padding-top: .15rem;
    padding-left: 1.5rem;
    padding-right: .5rem;
    height: 2rem;
}