<section class="footer section">
    <div class="footer__content">
        <div class="footer__group group-1">
            <img src="/assets/images/mhrsLogo.png" alt="" class="footer__logo">
            <img src="/assets/images/mhrsLogo2.svg" alt="" class="footer__logo2">
        </div>
        <div class="footer__group group-2">
            <h3 class="footer__title">Bağlantılar</h3>
            <a href="https://www.mhrs.gov.tr/hakkimizda.html" target="_blank" class="footer__link">Hakkımızda</a>
            <a href="https://www.mhrs.gov.tr/sss.html" target="_blank" class="footer__link">Sıkça Sorulanlar Sayfası</a>
            <a href="https://www.mhrs.gov.tr/soru_gorus_oneri.html" target="_blank" class="footer__link">Soru Görüş ve
                Önerileriniz</a>
            <a href="https://www.mhrs.gov.tr/anket.html" target="_blank" class="footer__link">Anket</a>
            <a href="https://www.mhrs.gov.tr/yararli_baglantilar.html" target="_blank" class="footer__link">Yararlı
                Bağlantılar</a>
        </div>
        <span class="footer__copy">&#169; Copyright AEY37. All rights reserved</span>
    </div>

</section>