<section class="banners section">
    <div class="banner__container grid">
        <div class="banner__content">
            <swiper-container class="swiper-container" [autoplay]="true" [loop]="true" [pagination]="{
      clickable: true
    }" [navigation]="true">
                <swiper-slide class="banner">


                    <img src="/assets/images/banner.png" alt="" class="banner__img" />
                    <div class="banner__overlay"></div>
                    <div class="banner__data">
                        <h3 class="banner__title">Türkiye'de En Çok Aranan Numara <br> Yine 182</h3>
                        <p class="banner__description"> Bilgi Teknolojileri ve İletişim Kurumu verilerine göre 2021
                            yılında olduğu gibi
                            2022 yılının ilk çeyreğinde de 182 Türkiye'de en çok <br /> aranan numara oldu. </p>
                    </div>

                </swiper-slide>
                <swiper-slide class="banner">

                    <img src="/assets/images/neyimvar.jpg" alt="" class="banner__img">
                    <div class="banner__overlay"></div>
                    <div class="banner__data">
                        <h3 class="banner__title"><strong>NeyimVar? Devreye Alındı <br>
                            </strong></h3>
                        <p class="banner__description"> Sağlık Bakanlığının yeni uygulaması “NeyimVar?” a
                            şikâyetlerinizi girerek en uygun olası
                            tanıları öğrenebilir ve önerilen polikliniklere <br /> Merkezi Hekim Randevu Sistemi
                            üzerinden
                            randevu alabilirsiniz. </p>
                    </div>

                </swiper-slide>
                <swiper-slide class="banner">

                    <img src="/assets/images/neyimvar2.jpg" alt="" class="banner__img">
                    <div class="banner__overlay"></div>
                    <div class="banner__data">
                        <h3 class="banner__title"><strong>NeyimVar? Hakkında <br>
                            </strong></h3>
                        <p class="banner__description"> NeyimVar? Sistemi, vatandaşların şikayetlerine göre doğru
                            polikliniğe yönlendirilmesini
                            amaçlayan web ve mobil tabanlı bir <br /> uygulamadır.
                            Sistemin sorduğu sorulara verdiğiniz cevaplar ile varsa e-Nabız’dan alınan sağlık
                            verileriniz kullanılarak olası tanı ve <br /> poliklinik önerilerine erişmenizi sağlar.
                            Sizi,
                            ilgili polikliniklere MHRS'den randevu almaya yönlendirir. </p>
                    </div>
                </swiper-slide>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper-container>
        </div>
    </div>
</section>