.page__size__container {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: .5rem;
}

.change__size-btn {
    background-color: hsl(190, 64%, 22%);
    color: #ffffff;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

label {
    color: hsl(190, 64%, 22%);
    font-size: 24px;
    font-weight: bold;
}

input {
    outline: none;
    border: 1px solid hsl(190, 64%, 22%);
    border-radius: .5rem;
    padding: .5rem;
    width: 100px;
}