<section class="announcements section">
    <div class="announcements__content">
        <div class="section__title"> {{title}}</div>
        <div class="announcement__list">
            <div class="announcement_item" *ngFor="let announcement of announcementList"
                (click)="openAnnouncementDetail(announcement.id)">
                {{announcement.explain }}
            </div>
        </div>
    </div>
</section>

<app-announcement-detail-modal *ngIf="selectAnnouncement!" (closeModal)="closeAnnouncementDetail()"
    [selectAnnouncement]="selectAnnouncement"></app-announcement-detail-modal>