.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    height: 2rem;
    width: 2rem;
    display: inline-flex;

}

.modal__close-x {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgba(233, 229, 229, 0.82);
}

.x-line-1 {
    transform: rotate(45deg);
}

.x-line-2 {
    transform: rotate(135deg);
}

.modal__content {
    display: grid;
    row-gap: 2rem;
    margin: 0 auto;
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 2rem;
    padding-block: 2rem 1.5rem;
    padding-inline: 3rem;
    text-align: center;
    transform: translateY(-300%);
    animation: modalContent 1s forwards;
}

@keyframes modalContent {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: initial;
    }
}

.modal__data-title {
    color: black;
    font-size: 2rem;
}

.input__group {
    position: relative;
}

.label {
    position: absolute;
    top: -.5rem;
    left: 2rem;
    background-color: white;
    padding-inline: .25rem;
}

.input {
    outline: none;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid black;
    padding-top: .15rem;
    padding-left: 1.5rem;
    padding-right: .5rem;
    height: 2rem;
}

.modal__button {
    margin: auto;
    width: fit-content;
    padding: .75rem 1.15rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 1.15rem;
}

.form {
    display: grid;
    row-gap: 1.5rem;
}

.error__message {
    position: absolute;
    display: flex;
    justify-content: start;
    padding-left: .5rem;
    padding-top: .1rem;
    color: red;
    z-index: 60;
}