<section class="appointment__time section">
    <div class="appoinment__time__container container grid">
        <app-table-header title="Randevu Zamanları"></app-table-header>
        <table class="content-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Randevu Zamanı</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of appointmentTimeList;index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.hour}}:{{item.minute > 9 ? item.minute : item.minute+"0"}}</td>
                    <td class="btns">
                        <button type="button" class="btn update" (click)="openUpdateModal(item)">Güncelle</button>
                        <button type="button" class="btn delete">Sil</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn add" (click)="openAddModal()">Ekle</button>
    </div>
</section>

<app-add-and-update-modal *ngIf="isOpenAddModal" (modalClosed)="closeAddModal()" (operation)="add()"
    title="Randevu Ekle" buttonText="Ekle">
    <form [formGroup]="addForm" class="form">
        <app-admin-form-input [showError]="showError" [errorMessage]="hourValidationSchema"
            [control]="$any(addForm.controls['hour'])" inputId="hour" placeholder="Lütfen Randevu Saatini Giriniz"
            label="Saat"></app-admin-form-input>

        <app-admin-form-input [showError]="showError" [errorMessage]="minuteValidationSchema"
            [control]="$any(addForm.controls['minute'])" inputId="minute"
            placeholder="Lütfen Randevu Dakikasını Giriniz" label="Dakika"></app-admin-form-input>
    </form>
</app-add-and-update-modal>


<app-add-and-update-modal *ngIf="isOpenUpdateModal" (modalClosed)="closeUpdateModal()" (operation)="update()"
    title="Randevu Güncelle" buttonText="Güncelle">
    <form [formGroup]="updateForm" class="form">
        <app-admin-form-input [showError]="showError" [errorMessage]="hourValidationSchema"
            [control]="$any(updateForm.controls['hour'])" inputId="hour" placeholder="Lütfen Randevu Saatini Giriniz"
            label="Saat"></app-admin-form-input>

        <app-admin-form-input [showError]="showError" [errorMessage]="minuteValidationSchema"
            [control]="$any(updateForm.controls['minute'])" inputId="minute"
            placeholder="Lütfen Randevu Dakikasını Giriniz" label="Dakika"></app-admin-form-input>

    </form>
</app-add-and-update-modal>