<section class="mhrs-infos section">
    <div class="mhrs__infos__content">
        <div class="info__group">
            <img src="/assets/images/time2.svg" alt="" class="info__img">
            <h3 class="info__title">Hızlı Randevu</h3>
            <p class="info__description">Mobil uygulama, Web ve Alo182 Randevu hattından istediğiniz hekime anında
                randevu alabilirsiniz.</p>
        </div>
        <div class="info__group">
            <img src="/assets/images/location2.svg" alt="" class="info__img">
            <h3 class="info__title">En Yakın Hastane</h3>
            <p class="info__description">Mobil Uygulama ve Web üzerinden konum bilgilerinizi paylaşarak size en yakın
                hastaneyi bulabilirsiniz.</p>
        </div>
        <div class="info__group">
            <img src="/assets/images/steteskop2.svg" alt="" class="info__img">
            <h3 class="info__title">İstediğiniz Doktor</h3>
            <p class="info__description">MHRS üzerinde istediğiniz doktora randevu almak sizin elinizde.</p>
        </div>
        <div class="info__group">
            <img src="/assets/images/neyim_var_logo.svg" alt="" class="info__img">
            <h3 class="info__title">NeyimVar?</h3>
            <p class="info__description">Şikayetinizi girip size özel tanı önerileri ve poliklinik randevusu
                alabilirsiniz.</p>
        </div>
    </div>
</section>