.smait__container {
    margin-inline: 1.5rem;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__media_content {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

.social__media__item {
    width: 36px;
    height: 36px;
}



.illumination__text__content {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.illumination__text__img {
    width: 36px;
}

.text__title {
    font-weight: 500;
    font-size: 24px;
}