<section class="disease section">
    <div class="disease__container container grid">
        <app-table-header title="Tüm Hastalıklar"></app-table-header>
        <table class="content-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Polikinik Name</th>
                    <th>Hastalık Adı</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of diseaseList;index as i">
                    <th>{{i + 1}}</th>
                    <td>{{item.polyclinicName}}</td>
                    <td>{{item.name}}</td>
                    <td class="btns">
                        <button type="button" class="btn update" (click)="openUpdateModal(item)">Güncelle</button>
                        <button type="button" class="btn delete">Sil</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn add" (click)="openAddModal()">Ekle</button>
    </div>
</section>

<app-add-and-update-modal *ngIf="isOpenAddModal" (modalClosed)="closeAddModal()" (operation)="add()"
    title="Yeni Hastalık Ekle" buttonText="Ekle">
    <form class="form" [formGroup]="addForm">
        <app-admin-form-select [showError]="showError" [items]="polyclinicList"
            [errorMessage]="polyclinicIdValidationSchema" [control]="$any(addForm.controls['polyclinicId'])"
            inputId="polyclinicId" placeholder="Lütfen Polikinik Seçin" label="Polikinik">
        </app-admin-form-select>
        <app-admin-form-input [showError]="showError" [errorMessage]="diseaseNameValidationSchema"
            [control]="$any(addForm.controls['name'])" inputId="diseaseName"
            placeholder="Lütfen  Hastalık Adını Giriniz" label="Hastalık Adı"></app-admin-form-input>
    </form>
</app-add-and-update-modal>


<app-add-and-update-modal *ngIf="isOpenUpdateModal" title="Hastalık Güncelle" buttonText="Güncelle"
    (modalClosed)="closeUpdateModal()" (operation)="update()">
    <form class="form" [formGroup]="updateForm">
        <app-admin-form-select [showError]="showError" [items]="polyclinicList"
            [errorMessage]="polyclinicIdValidationSchema" [control]="$any(updateForm.controls['polyclinicId'])"
            inputId="polyclinicId" placeholder="Lütfen Polikinik Seçin" label="Polikinik">
        </app-admin-form-select>
        <app-admin-form-input [showError]="showError" [errorMessage]="diseaseNameValidationSchema"
            [control]="$any(updateForm.controls['name'])" inputId="diseaseName"
            placeholder="Lütfen  Hastalık Adını Giriniz" label="Hastalık Adı"></app-admin-form-input>
    </form>
</app-add-and-update-modal>