<div class="input__group">
    <label *ngIf="label" class="label">{{label}}</label>
    <div class="input__content">
        <select class="input" [id]="inputId" [formControl]="control"
            [ngClass]="{'error__input':control.errors && displayErrors()}">
            <option value="-1">Seçiniz</option>
            <option *ngFor="let item of items" [value]="item.value">{{item.key}}</option>
        </select>
    </div>


    <div class="error__messages" *ngIf="displayErrors()">

        <div *ngFor="let error of control.errors | keyvalue" class="control__error">
            {{errorMessage[error.key]}}
        </div>
    </div>
</div>