<div className="error__content" style="  min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 3rem;">
    <h1 className="main__title" style=" font-size: 56px;
    font-weight: bold;">
        404 NOT FOUND
    </h1>
    <h3 className="subtitle" style=" font-size: 36px;">
        Nereye Amk!
    </h3>
    <button [routerLink]="['/']" className="error__btn"
        style="   background-color: rebeccapurple;
    padding: 1rem;
    border-radius: .75rem;
    color: white;
    outline: none;
    border: none;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;">Return
        Home Page</button>
</div>