<section class="add__hospital section">
    <div class="add__hospital__container container grid">
        <app-table-header title="Hastane Güncelle"></app-table-header>
        <form [formGroup]="updateForm" class="form">
            <div class="row__group">
                <app-admin-form-input [errorMessage]="validationSchema.errorMessageForGlobalRequired"
                    [showError]="showError" [control]="$any(updateForm.controls['name'])" inputId="name"
                    placeholder="Lütfen Hastane Adını Giriniz" label="Hastane Adı">
                </app-admin-form-input>
                <app-admin-form-select [errorMessage]="validationSchema.errorMessageForSelectGlobalRequired"
                    [items]="classList" [control]="$any(updateForm.controls['class'])" inputId="class"
                    placeholder="Lütfen Hastane Sınıfını Giriniz" label="Hastane Sınıfı">
                </app-admin-form-select>
            </div>
            <div class="row__group">
                <app-admin-form-input [errorMessage]="validationSchema.errorMessageForGlobalRequired"
                    [showError]="showError" [control]="$any(updateForm.controls['latitude'])" inputId="latitude"
                    placeholder="Salla" label="Latitude Değeri">
                </app-admin-form-input>
                <app-admin-form-input [errorMessage]="validationSchema.errorMessageForGlobalRequired"
                    [showError]="showError" [control]="$any(updateForm.controls['longitude'])" inputId="longitude"
                    placeholder="Salla" label="Longitude Değeri">
                </app-admin-form-input>
            </div>
            <div class="row__group">
                <app-admin-form-select [showError]="showError"
                    [errorMessage]="validationSchema.errorMessageForSelectGlobalRequired" [items]="cityList"
                    [control]="$any(updateForm.controls['cityId'])" inputId="cityId" placeholder="Lütfen İl Seçiniz"
                    label="İl">
                </app-admin-form-select>
                <app-admin-form-select [showError]="showError"
                    [errorMessage]="validationSchema.errorMessageForSelectGlobalRequired" [items]="districtList"
                    [control]="$any(updateForm.controls['districtId'])" inputId="districtId"
                    placeholder="Lütfen İlçe Seçiniz" label="İlçe">
                </app-admin-form-select>
            </div>
            <app-admin-form-text-area [showError]="showError"
                [errorMessage]="validationSchema.errorMessageForGlobalRequired"
                [control]="$any(updateForm.controls['address'])" inputId="address" [rows]="4"
                placeholder="Lütfen Hastanenin Adresini Giriniz" label="Hastane Adresi"></app-admin-form-text-area>
            <button class="add" (click)="update()">Güncelle</button>
        </form>
    </div>
</section>