.modal__content {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.357);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__data {
    position: relative;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    height: 100vh;
    overflow-y: scroll;
    z-index: 200;

}

.modal__header {
    background-color: #42505f;
    padding: 1rem;

}

.modal__title {
    line-height: 1.42857143;
    color: #FFFFFF;
    font-size: 24px;
}

.modal__body {
    background-color: #FFFFFF;
    padding: 5rem;
    display: grid;
    row-gap: .5rem;
}

.modal__body-group {
    display: grid;
    row-gap: .25rem;
}

.modal__body-title {
    font-size: 16px;
}

.read__button {
    width: fit-content;
    margin-top: 5px;
    margin-left: auto;
    width: 160px;
    height: 50px;
    background-color: #0d3aa9;
    border-radius: 35px;
    border: none;
    color: #FFFFFF;
}


.no-scroll {
    overflow: hidden;
}